//********** FRONTEND SECURITY PAGES ********************/

body.SecurityPage {
	font-family: Helvetica, Arial, sans-serif;
	.Gradient(top, #eee 10%, #004F5D);
	overflow: auto;
	h1 {
		font-size: 50px;
		color: #fff;
		font-family: Helvetica, Arial, sans-serif;
		line-height: normal;
	}
	h2 {
		font-size: 25px;
		color: #fff;
		font-family: Helvetica, Arial, sans-serif;
		line-height: normal;
	}
}

.security-header {
	text-align: center;
	color: #fff;
	text-transform: none;
	line-height: normal;
	font-weight: normal;
	margin: 0 0 10px;
}

.loginScreen {
	margin: 10% auto 0;
	display: table;
	padding: 20px 80px;
	background: rgba(99, 101, 103, 0.4);
	color: #fff;
	width: 575px;
}

.contentWrapper {
	padding: 0 20px;
	margin: 40px 0 0;
}

#MemberLoginFormExt_LoginForm, #MemberLoginForm_LoginForm,
#MemberLoginFormExt_LostPasswordForm {
	margin: 20px auto 0;
	background-color: transparent;
	border: 0;
	font-size: 2em;

	div.field {
			margin: 10px 0 0 !important;
		label.left {
			text-align: left;
			display: none;
		}
	}
	.middleColumn {
		width: 100%;
		margin: 0;
		input {
			border: none;
			background: #fff;
			width: 100%;
			font-size: 24px;
			font-family: Helvetica, Arial, sans-serif;
			line-height: normal;
			.NoRoundedCorners();
			&:focus {
				outline: none;
			}
		}
	}
	div.checkbox {
		margin-left: 0 !important;
		font-size: .5em;
		color: #fff;
		label.right{
			color: #fff;
			font-size: 12px;
		}
	}
	#Remember {
		margin-left: 0;

		.checkbox, .right {
			float: left;
		}

		label {
			margin-left: 7px;
		}
	}

	div.Actions {
		float: none;
		margin-left: 0;
		line-height: normal;

		input.action {
			width: 100% !important;
			padding: 5px 25px !important;
			color: #fff !important;
			font-weight: bold;
			background: #1F9433 !important;
			border: none;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 24px;
			line-height: normal;
			.Transition(all, .3s, ease, 0s);
			&:hover {
				background: lighten(#1F9433, 5%) !important;
			}
		}
	}
}

.security-branding {
	position: absolute;
	bottom: 10px;
	right: 10px;

	a {
		display: inline-block;
		.Opacity(0.5, 50);
		.Transition(opacity, 0.3s, ease-out, 0s);

		&:hover {
			.Opacity(1, 100);
		}
	}

	img {
		width: 150px;
	}
}

#ForgotPassword {
	text-align: right;
	a {
		color: #fff;
		font-size: 12px;
	}
}

//********** TABLE STYLING ******************************/

table {
	&.notable {
		tr {
			td {
				border: 0 none;

				h1, h2, h3 {
					margin: 0;
				}
			}
		}
	}
}
